* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 204, 204);
}

:root {
  --12px: 0.75rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
}

#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position: relative;
}

#app-logo-text {
  color: red;
}

#side-menu-icon {
  cursor: pointer;
}

#side-menu-div {
  background-color: white;
  color: red;
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
}

.side-menu-text {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.sections {
  overflow-y: auto;
}

.mainDiv {
  height: fit-content;
  margin: auto;
}

.bacLogDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  gap: 0.25rem;
}

.bacToLog {
  font-weight: 900;
}

.bacToLogSpan {
  font-weight: 700;
}

.signHead {
  color: red;
  text-align: center;
}

.signDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  align-items: center;
}

.signIcon {
  background-color: white;
  color: red;
  border-radius: 0.5rem 0 0 0.5rem;
}

.signInput {
  letter-spacing: 1px;
  border: hidden;
  outline: none;
  width: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}

.showPass {
  cursor: pointer;
}

.signText {
  color: red;
}

#change-password-div {
  display: flex;
  justify-content: flex-end;
}

.linkText {
  color: red;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.signBtns {
  border: hidden;
  width: 100%;
  background-color: white;
  color: red;
  cursor: pointer;
  border-radius: 0.5rem;
}

.logBtn {
  background: none;
  border: none;
  display: flex;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.logSpan {
  letter-spacing: 1px;
  background-color: white;
  text-align: start;
  width: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}

#logText {
  text-align: center;
}

#mainVer {
  text-align: center;
}

#verHead {
  color: red;
}

#verBtn {
  border: none;
  background-color: red;
  color: black;
  cursor: pointer;
}

#updHead {
  color: red;
}

#updDiv {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#updProDiv {
  background-color: white;
}

#updOptDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updOptBtns {
  cursor: pointer;
}

#updCon {
  color: red;
}

.mesPerHead {
  font-weight: 700;
}

.mesPerDiv {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

.mesImgUserDiv {
  display: flex;
  align-items: center;
}

.mesImg {
  border-radius: 0.5rem;
}

.mesActive {
  color: red;
}

#mesSrhSec {
  border-bottom: 1px solid black;
}

#mesSrhDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mesDivInt {
  border: none;
  outline: none;
  color: black;
  width: 100%;
  border-radius: 0.5rem;
}

#mesIntDiv {
  width: 100%;
}

.mesDivIcn {
  cursor: pointer;
}

#mesDivSrhIcn {
  color: red;
}

#mesIvtSec {
  text-align: center;
}

#ivtDivPar {
  text-align: start;
}

.ivtInpt {
  border: none;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
}

#ivtDivSpn {
  text-align: start;
}

#ivtBtn {
  border: none;
  background-color: red;
  color: black;
  cursor: pointer;
}

.ivtVerDiv {
  background-color: rgba(0, 0, 0, 0.15);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.ivtVerMain {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  text-align: center;
}

.ivtVerBtn {
  border: none;
  background-color: red;
  color: black;
  cursor: pointer;
}

#preLoadDiv {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}





@media all and (min-width: 768px) {
  #side-menu-icon {
    font-size: var(--16px);
  }

  .side-menu-text {
    font-size: var(--16px);
  }
}

@media all and (max-width: 767px) {
  #app-header {
    padding: 1rem 2rem;
  }

  #app-logo-text {
    font-size: var(--20px);
  }

  #side-menu-icon {
    font-size: var(--12px);
  }

  #side-menu-div {
    right: 1.5rem;
    gap: 0.75rem 0;
    padding: 1rem 3.5rem 1rem 1rem;
  }

  .side-menu-text {
    font-size: var(--12px);
  }

  .mainDiv {
    width: 80%;
    margin-top: 10vh;
  }

  .bacLogDiv {
    margin: 1rem 0 0 1.5rem;
  }

  .bacToLog {
    font-size: 1rem;
  }

  .bacToLogSpan {
    font-size: 0.5rem;
  }

  .signHead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .signSec {
    margin: 0.5rem 0;
  }

  .signIcon {
    font-size: 0.75rem;
    padding: 1rem 1.25rem;
  }

  .signInput {
    padding: 1rem 0 1rem 1.25rem;
    font-size: 0.75rem;
  }

  .showPass {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .signText {
    font-size: 0.75rem;
  }

  .linkText {
    font-size: 0.75rem;
  }

  .signBtns {
    margin-top: 1rem;
    padding: 1rem 0;
    font-size: 0.75rem;
  }

  .logSpan {
    padding: 1rem 0 1rem 1.25rem;
    font-size: 0.75rem;
  }

  #logText {
    font-size: 0.75rem;
  }

  #mainVer {
    padding: 2rem;
  }

  #verHead {
    font-size: 1rem;
  }

  #verPara {
    margin: 2.5rem 0 3.5rem 0;
    font-size: 0.75rem;
  }

  #verBtn {
    padding: 1rem 2.5rem;
    font-size: 0.75rem;
  }

  #updHead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #updDiv {
    margin-top: 10vh;
  }

  #updProDiv {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }

  #updImg {
    width: 7.5rem;
    height: 9rem;
  }

  #updUser {
    font-size: 0.75rem;
    margin-top: 0.75rem;
  }

  #updPara {
    font-size: 0.75rem;
    margin: 0.75rem 0 1.5rem 0;
  }

  .updOptBtns {
    font-size: 0.75rem;
  }

  #proSec {
    border-bottom: 1px solid black;
  }

  .messDivSec {
    padding: 0.5rem;
  }

  .mesPerHead {
    margin-bottom: 0.15rem;
    font-size: 0.75rem;
  }

  .mesPerDiv {
    box-shadow: 1px 1px 2px gray;
    padding: 0.75rem 1rem;
    margin-bottom: 0.25rem;
  }

  .mesImgUserDiv {
    gap: 0.5rem;
  }

  .mesImg {
    height: 1.75rem;
    width: 1.75rem;
  }

  .mesUser {
    font-size: 0.75rem;
  }

  .mesActive {
    font-size: 0.75rem;
  }

  #mesSrhDiv {
    padding: 0 0.5rem;
  }

  #mesDivInt {
    padding: 1rem 0 1rem 1.25rem;
    font-size: 0.75rem;
  }

  #mesIntDiv {
    padding: 0 1rem;
    margin: 0 1rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .mesDivIcn {
    font-size: 1rem;
  }

  #mesIvtSec {
    padding: 0 2rem;
    margin-top: 2rem;
  }

  #ivtHead {
    font-size: 1rem;
  }

  #ivtDiv {
    margin: 1.5rem 0 2.5rem 0;
  }

  #ivtDivPar {
    font-size: 0.75rem;
  }

  .ivtInpt {
    padding: 1rem 0 1rem 1.25rem;
    margin: 0.25rem 0;
    font-size: 0.75rem;
  }

  #ivtBtn {
    padding: 1rem 2.5rem;
    font-size: 0.75rem;
  }

  .ivtVerMain {
    padding: 2rem 1rem;
    width: 80%;
  }

  .ivtVerPar {
    font-size: 0.75rem;
  }

  .ivtVerBtn {
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    font-size: 0.75rem;
  }

  #preLoadImg {
    height: 2.5rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #app-header {
    padding: 2rem 5rem;
  }

  #app-logo-text {
    font-size: var(--32px);
  }

  #side-menu-div {
    right: 5rem;
    gap: 1rem 0;
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }

  .mainDiv {
    width: 75%;
    margin-top: 7.5vh;
  }

  .bacLogDiv {
    margin: 2rem 0 0 2.5rem;
  }

  .bacToLog {
    font-size: 1.5rem;
  }

  .bacToLogSpan {
    font-size: 0.75rem;
  }

  .signHead {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .signSec {
    margin: 0.75rem 0;
  }

  .signIcon {
    font-size: 1.5rem;
    padding: 1.5rem 1.75rem;
  }

  .signInput {
    padding: 1.5rem 0 1.5rem 1.75rem;
    font-size: 1rem;
  }

  .showPass {
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }

  .signText {
    font-size: 1rem;
  }

  .linkText {
    font-size: 1rem;
  }

  .signBtns {
    margin-top: 1.5rem;
    padding: 1.75rem 0;
    font-size: 1rem;
  }

  .logSpan {
    padding: 1.5rem 0 1.5rem 1.75rem;
    font-size: 1rem;
  }

  #logText {
    font-size: 1rem;
  }

  #mainVer {
    padding: 3.5rem 7.5rem;
  }

  #verHead {
    font-size: 1.5rem;
  }

  #verPara {
    margin: 3.5rem 0 4.5rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  #verBtn {
    padding: 1.5rem 4rem;
    font-size: 1rem;
  }

  #updHead {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #updDiv {
    margin-top: 10vh;
  }

  #updProDiv {
    padding: 3rem 2.5rem 2.5rem 2.5rem;
  }

  #updImg {
    width: 10.5rem;
    height: 12.5rem;
  }

  #updUser {
    font-size: 1rem;
    margin-top: 1rem;
  }

  #updPara {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }

  .updOptBtns {
    font-size: 1rem;
  }

  #proSec {
    border-bottom: 2px solid black;
  }

  .messDivSec {
    padding: 1rem;
  }

  .mesPerHead {
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .mesPerDiv {
    box-shadow: 2px 2px 4px gray;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0.5rem;
  }

  .mesImgUserDiv {
    gap: 0.75rem;
  }

  .mesImg {
    height: 2rem;
    width: 2rem;
  }

  .mesUser {
    font-size: 1rem;
  }

  .mesActive {
    font-size: 1rem;
  }

  #mesSrhDiv {
    padding: 0 0.75rem;
  }

  #mesDivInt {
    padding: 1.5rem 0 1.5rem 1.75rem;
    font-size: 1rem;
  }

  #mesIntDiv {
    padding: 0 1.5rem;
    margin: 0 1.5rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .mesDivIcn {
    font-size: 1.5rem;
  }

  #mesIvtSec {
    padding: 0 5rem;
    margin-top: 7.5vh;
  }

  #ivtHead {
    font-size: 1.5rem;
  }

  #ivtDiv {
    margin: 2.5rem 0 3.5rem 0;
  }

  #ivtDivPar {
    font-size: 1rem;
  }

  .ivtInpt {
    padding: 1.5rem 0 1.5rem 1.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    letter-spacing: 2px;
  }

  #ivtBtn {
    padding: 1.5rem 4rem;
    font-size: 1rem;
  }

  .ivtVerMain {
    padding: 4rem 1rem;
    width: 75%;
  }

  .ivtVerPar {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .ivtVerBtn {
    padding: 1.5rem 4rem;
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  #preLoadImg {
    height: 4rem;
  }
}

@media all and (min-width: 1024px) {
  #app-header {
    padding: 1.5rem 2.5rem;
  }

  #app-logo-text {
    font-size: var(--24px);
  }

  #side-menu-div {
    gap: 0.75rem 0;
    right: 2.5rem;
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }

  .mainDiv {
    width: 50%;
    margin-top: 10vh;
  }

  .bacLogDiv {
    margin: 1.5rem 0 0 2rem;
  }

  .bacToLog {
    font-size: 1.25rem;
  }

  .bacToLogSpan {
    font-size: 0.75rem;
  }

  .signHead {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .signSec {
    margin: 0.5rem 0;
  }

  .signIcon {
    font-size: 1.25rem;
    padding: 1.25rem 1.5rem;
  }

  .signInput {
    padding: 1.25rem 0 1.25rem 1.5rem;
    font-size: 1rem;
  }

  .showPass {
    padding: 0 1.25rem;
    font-size: 1.25rem;
  }

  .signText {
    font-size: 1rem;
  }

  .linkText {
    font-size: 1rem;
  }

  .signBtns {
    margin-top: 1rem;
    padding: 1.25rem 0;
    font-size: 1rem;
  }

  .logSpan {
    padding: 1.25rem 0 1.25rem 1.5rem;
    font-size: 1rem;
  }

  #logText {
    font-size: 1rem;
  }

  #mainVer {
    padding: 5rem;
  }

  #verHead {
    font-size: 1.25rem;
  }

  #verPara {
    margin: 3rem 0 4rem 0;
    font-size: 1rem;
  }

  #verBtn {
    padding: 1.25rem 3.5rem;
    font-size: 1rem;
  }

  #updHead {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  #updDiv {
    margin-top: 10vh;
  }

  #updProDiv {
    padding: 3.5rem 1.75rem 2rem 1.75rem;
  }

  #updImg {
    width: 8.5rem;
    height: 10rem;
  }

  #updUser {
    font-size: 1rem;
    margin-top: 1rem;
  }

  #updPara {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }

  .updOptBtns {
    font-size: 1rem;
  }

  #proSec {
    border-bottom: 1px solid black;
  }

  .messDivSec {
    padding: 1rem;
  }

  .mesPerHead {
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .mesPerDiv {
    box-shadow: 2px 2px 3px gray;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
  }

  .mesImgUserDiv {
    gap: 0.75rem;
  }

  .mesImg {
    height: 2rem;
    width: 2rem;
  }

  .mesUser {
    font-size: 1rem;
  }

  .mesActive {
    font-size: 1rem;
  }

  #mesSrhDiv {
    padding: 0 0.75rem;
  }

  #mesDivInt {
    padding: 1.25rem 0 1.25rem 1.5rem;
    font-size: 1rem;
  }

  #mesIntDiv {
    padding: 0 1.5rem;
    margin: 0 1.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .mesDivIcn {
    font-size: 1.25rem;
  }

  #mesIvtSec {
    padding: 0 5rem;
    margin-top: 3.5rem;
  }

  #ivtHead {
    font-size: 1.25rem;
  }

  #ivtDiv {
    margin: 2.5rem 0 3.5rem 0;
  }

  #ivtDivPar {
    font-size: 1rem;
  }

  .ivtInpt {
    padding: 1.25rem 0 1.25rem 1.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  #ivtBtn {
    padding: 1.25rem 3.5rem;
    font-size: 1rem;
  }

  .ivtVerMain {
    padding: 2.5rem 0;
    width: 50%;
  }

  .ivtVerPar {
    font-size: 1rem;
  }

  .ivtVerBtn {
    padding: 1.25rem 3.5rem;
    margin-top: 1.25rem;
    font-size: 1rem;
  }

  #preLoadImg {
    height: 3.5rem;
  }
}